{%  extends 'layout.html' %}

{%  block body  %}
    <h1>About Us</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pharetra nisi eget est pharetra, a aliquam justo eleifend. In tempor hendrerit nunc a bibendum. Sed ut ante non arcu malesuada feugiat sed at metus. Pellentesque in ante vel eros vulputate semper lobortis eget sem. Aliquam in finibus mauris, et placerat mauris. Nam non luctus nunc. Curabitur vitae ipsum diam. Cras nec ex finibus, aliquam orci ac, blandit massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tincidunt egestas convallis. Donec consectetur fermentum turpis eget suscipit. Aenean ac lectus accumsan, efficitur diam eget, gravida risus. In efficitur leo a neque blandit gravida. Phasellus fermentum molestie pretium. Maecenas consectetur et tellus ut pulvinar. Sed sed libero in nisi semper laoreet.</p>
{% endblock %}